[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = false

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
django = "*"
psycopg2 = "*"
redis = "*"
pipfile = "*"

[scripts]
server = "python team1/manage.py runserver  0.0.0.0:8000"
migrate = "python team1/manage.py migrate"
startproject = "django-admin startproject"

[requires]
python_version = "3.7"
