{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"> 
{% if data %}
    <ul>
        {% for question in data %}
        <li>
            <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="pagination">
        <span class="step-links">
            {% if data.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ data.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ data.number }} of {{ data.paginator.num_pages }}.
            </span>
    
            {% if data.has_next %}
                <a href="?page={{ data.next_page_number }}">next</a>
                <a href="?page={{ data.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}