{% load static %} <!DOCTYPE html>
<html>
  <head>
    <link href="{% static 'employees/styles.css' %}" rel="stylesheet" />
  </head>
  <body>
    <table id="customers" style="width:100%">
      {% if employee_list %}
      <tr>
        <th>EmployeeID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Join Date</th>
        <th>Edit/Delete</th>
      </tr>
      {% for employee in employee_list %}
      <tr>
        <td>
          <a href="{% url 'detail' employee.id %}"> {{ employee.id }} </a>
        </td>
        <td>
          <a href="{% url 'index' %}">{{ employee.first_name }}</a>
        </td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.join_date }}</td>
        <td><a href="{% url 'edit_employee' employee.id %}">Edit</a>/<a href="{% url 'delete_employee' employee.id %}">Delete</a></td>
        {% endfor %}
      </tr>
      {% else %}
      <p>No polls are available.</p>
      {% endif %}
    </table><br>
    <a href="{% url 'create_employee' %}">Create</a>
  </body>
</html>
